fastapi==0.115.12
uvicorn==0.34.2
openpyxl==3.1.5
numpy==2.1.2
scipy==1.14.1
pandas==3.0.0
scikit-learn==1.8.0
pymoo==0.6.1.6
PyYAML==6.0.3
Jinja2==3.1.6
pydantic==2.12.5
ansys-mapdl-core==0.72.0
ansys-dpf-core==0.15.0
